

/* .modal-body{
    display: flex;
    flex-wrap: wrap;
    
}
.gambar{
    width: 100%;
    display: flex;

}  */
#gambarPoke{
    width: 150px;
    height: 150px;
    padding-top: 20px;
    
} 
.lingkaran{
    width: 170px;
    height: 170px;
    
    background: #804f4f;
    border-radius: 100%;
}